{% extends "finance/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
        </div>
        <!-- printing differnt instances of the post object -->
        <h2 class="article-title">Amount: ${{ object.amount }}</h2>
        <p class="article-content">Type: {{ object.type }}</p>
        <p class="article-content">In Debt To: {{ object.borrowee }}</p>
        <p class="article-content">{{ object.date }}</p>
        <!-- If there is no file, still post the comment -->
          {% csrf_token %}
          {{ form|crispy }}
      </div>
    </article>
{% endblock content %}
