{% extends "finance/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Earnings</legend>
          <!-- used to print the form -->
          {{ form|crispy }}

        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Done</button>
        </div>
      </form>
    </div>
{% endblock content %}
