{% extends "finance/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
        </div>
        <!-- printing differnt instances of the post object -->
        <h2 class="article-title">Task :{{ object.goal }}</h2>
        <p class="article-content">Budget: ${{ object.budget }}</p>
        <!-- If there is no file, still post the comment -->
          {% csrf_token %}
          {{ form|crispy }}
      </div>
    </article>
{% endblock content %}
