{% extends "finance/base.html" %}
{% block content %}
<a class="btn btn-secondary mt-1 mb-1" href="{% url 'goal' %}">Add a Goal</a>
  {% for post in posts %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ post.user }}</a>
          <small class="text-muted">{{ post.budget }}</small>
        </div>
        <h2><a class="article-title" href="{% url 'goal-detail' post.slug %}">{{ post.goal }}</a></h2>
      </div>
    </article>
    {% endfor %}
{% endblock content %}
