{% extends 'base/generic.html' %}
{% block addins %}
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/heatmap.js"></script>
    <script src="https://code.highcharts.com/modules/treemap.js"></script>
{% endblock %}
{% block content %}
    {% load chartit %}
    {{ chart_list | load_charts:"cht" }}
    <div class="container">
        <div>
            <a class="btn btn-secondary mt-1 mb-1" href="{% url 'debt' %}">Add Debt</a>
        </div>
        <div id='cht'></div>

    </div>
{% endblock %}
