{% extends "base/generic.html" %}

{% block content %}
    <div class="container">
        {% csrf_token %}
        <a href="{{ file.get_view_url }}"><h1>{{ file.filename }}</h1></a>
        <small>Description</small>
        <h3>{{ file.description }}</h3>
        <small>Last Modified</small>
        <p>{{ file.get_short_date }}</p>
        <small>Folder</small>
        <p>{{ file.directory.name }}</p>
        <small id="visibility-label">Visibility</small>
        <form action="/cloud/file/{{ file.slug }}/visibility" method="POST">
            {% csrf_token %}
            {% if file.is_public %}
                <p id="visibility">Public</p>
                <button type="submit" class="btn btn-outline-secondary" id="share-file">Make private</button>
                <a class="btn btn-outline-primary" href="/cloud/file/{{ file.slug }}/edit">Edit File</a>
                <a class="btn btn-outline-danger" href="/cloud/file/{{ file.slug }}/delete">Delete File</a>
            {% else %}
                <p id="visibility">Private</p>
                <button type="submit" class="btn btn-outline-secondary" id="share-file">Make public</button>
                <a class="btn btn-outline-primary" href="/cloud/file/{{ file.slug }}/edit">Edit File</a>
                <a class="btn btn-outline-danger" href="/cloud/file/{{ file.slug }}/delete">Delete File</a>
            {% endif %}
        </form>
        <form action="/finance/parse/{{ file.slug }}" method="post">
            <button type="submit" class="btn btn-outline-secondary" id="file-parse">Parse data</button>
        </form>
    </div>
{% endblock %}