{% if is_public %}
    <p id="visibility">Public</p>
    <button class="btn btn-outline-secondary" id="share-file">Make private</button>
{% else %}
    <p id="visibility">Private</p>
    <button class="btn btn-outline-secondary" id="share-file">Make public</button>
{% endif %}