{% extends "base/generic.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form|crispy }}
        </table>
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}