<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}Forum{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block addins %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light shadow bottom-margin">
        <a class="header-logo-link" href="/">PiggyBank</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li>
                    <a class="nav-link" href="/cloud">Files</a>
                </li>
                <li>
                    <a class="nav-link" href="/presentation">Presentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/topics">Posts</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Charts
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/debts">Debts</a>
                        <a class="dropdown-item" href="/earnings">Earnings</a>
                        <a class="dropdown-item" href="/spendings">Spendings</a>
                        <a class="dropdown-item" href="/investments">Investments</a>
                        <a class="dropdown-item" href="/budgets">Budgets</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline col-4 pt-1 text-center justify-content-end" action="/search" method="get">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </form>
            {% if user.is_authenticated %}
                <div class="pt-1 d-flex justify-content-end align-items-center"
                     id="account-nav">
                    <a class="text-muted" href="/logout">Logout</a>
                    <a class="btn btn-sm btn-outline-secondary" style="margin-left: 5px;" href="/account">My account</a>
                </div>
            {% else %}
                <nav class="pt-1 d-flex justify-content-end align-items-center" id="account-nav">
                    <a class="text-muted" style="white-space: nowrap;" href="/login">Sign in</a>
                    <a class="btn btn-sm btn-outline-success" style="margin-left: 5px;" href="/register">Sign up</a>
                </nav>
            {% endif %}
        </div>
    </nav>
<div class="container">

    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %} {{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    {% endif %}

</div>
{% block content %}{% endblock %}

<footer class="forum-footer">
    <p>Site created by <a href="https://github.com/davidw97">David Wiles</a> and <a href="https://github.com/Spencer-Karpinsky">Spencer Karpinsky </a></p>
    <p><a href="#">Back to top</a></p>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>