html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 200px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Sailec, helvetica neue, helvetica, -apple-system, BlinkMacSystemFont, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
    font-weight: bold;
    color: #404345;
    overflow-wrap: break-word;
}

p {
    font-family: Sailec, helvetica neue, helvetica, -apple-system, BlinkMacSystemFont, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
    overflow-wrap: break-word;
}

.outline-text {
    color: white;
    text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}

.col-md-6.px-0.nav-div:hover {
    cursor: pointer;
    background-color: transparent;
}

.nav-div:hover {
    cursor: pointer;
    background-color: lightgray;
}

.header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.header-logo {
    font-size: 2.25rem;
    color: #3ddb93;
}

.header-logo-link {
    margin-right: 15px;
    font-size: 2.25rem;
    color: #3ddb93;
}

a.header-logo-link:hover {
    margin-right: 15px;
    color: #3ddb93;
}

.bottom-margin {
    margin-bottom: 50px;
}

.search-bar-lg {
    margin-top: 25px;
}

.search-result:hover {
    cursor: pointer;
    background-color: lightgray;
}

.topic-header {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.topic-header.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.forum-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
    margin-top: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    overflow: hidden;
}

@media (min-width: 768px) {
    .display-4 {
        font-size: 3rem;
    }

    .search-icon {
        display: none;
    }
}

@media (max-width: 768px) {
    .search-form {
        display: none;
    }

    .search-icon {
        max-height: 30px;
        width: auto;
        cursor: pointer;
    }
}
