{% csrf_token %}

{% load crispy_forms_tags %}

<table id="comment-table">
    {{ form|crispy }}
</table>
<button type="submit" class="btn btn-outline-primary" value="Submit" id="save-comment">Save</button>
