{% load sitetags %}

<div class="list-group-item flex-column align-items-start" id="{{ comment.id }}">
    <div class="d-flex w-100 justify-content-between">
        <h4>{{ comment.user.username }}</h4>
        <small>{{ comment.get_short_date }}</small>
    </div>
    <p class="mb-1" style="white-space: pre;">{{ comment.text }}</p>
    {% if user.id == comment.user.id or user|is_moderator %}
        <button type="button" class="btn btn-sm btn-outline-primary edit-comment">Edit</button>
        <button type="button" class="btn btn-sm btn-outline-danger delete-comment">Delete</button>
    {% endif %}
</div>