<div class="modal fade" id="confirm-comment-delete-modal" tabindex="-1" role="dialog" aria-labelledby="confirm-delete"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirm-delete">Confirm Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete your comment? This cannot be undone.</p>
            </div>
            <div class="modal-footer">
                {% csrf_token %}
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" id="remove-delete-modal">Cancel</button>
                <button type="button" class="btn btn-outline-danger" id="delete-confirm">Yes, delete</button>
            </div>
        </div>
    </div>
</div>
