{% extends "base/generic.html" %}

{% block content %}
<div class="container">
    <h1>Delete Post</h1>

    <p>Are you sure you want to delete the Topic: {{ topic.title }}?</p>

    <form action="" method="POST">
      {% csrf_token %}
        <button type="submit" class="btn btn-danger" value="Yes, delete.">Delete</button>
    </form>
</div>
{% endblock %}