{% extends "base/generic.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <h1 class="display-4">{{ topic.title }}</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{ form|crispy }}
            </table>
            <button type="submit" class="btn btn-outline-primary">Save</button>
        </form>
    </div>
{% endblock %}