{% extends "base/generic.html" %}

{% block content %}
    <div class="container">
        <small>Username</small>
        <h3 id="username">{{ user.username }}</h3>
        <small>Profile picture</small>
        <br><img src="{{ user.image.get_view_url }}" alt="No image found" style="max-width: 50%; height: auto;"><br>
        <small>First name</small>
        <h4>{{ user.first_name }}</h4>
        <small>Last name</small>
        <h4>{{ user.last_name }}</h4>
        <small>Email</small>
        <h4>{{ user.email }}</h4>
        <small>Bio</small>
        <p style="white-space: pre-wrap;">{{ user.bio }}</p>
        <small>Date joined</small>
        <p>{{ user.date_joined }}</p>
        <a class="btn btn-outline-primary" href="/account/edit">Edit account</a>
        <a class="btn btn-outline-secondary" href="/cloud">My files</a>
        <hr>
        <h1>Posts</h1>
        <div class="list-group">
            {% for post in user.post_set.all %}
                <div class="list-group-item flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h2 style="margin-right: 0.5em;">{{ post.title }}</h2>
                        <small style="min-width: 40px;">{{ post.get_short_date }}</small>
                    </div>
                    <a class="text-muted" href="/account/{{ post.user.slug }}">{{ post.user.username }}</a>
                    <p class="mb-1" style="margin-top: 1em;">{{ post.get_summary_text }}</p>
                    <a href="/topics/{{ post.topic.slug }}/{{ post.slug }}">View post</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
