{% extends "base/generic.html" %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="container">
        {% if form.errors %}
            <p>Username or password incorrect</p>
        {% endif %}
        <form method="POST" action="/login">
            {% csrf_token %}
            {{ form|crispy }}

            <button class="btn btn-outline-primary" type="submit" value="login">Login</button>
        </form>
        <br>
        <a href="{% url 'password_reset' %}">Forgot password?</a>

    </div>
{% endblock %}

