{% extends "base/generic.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form|crispy }}
        </table>
        <button class="btn btn-outline-success" type="submit" value="Submit">Register</button>
    </form>
</div>
{% endblock %}