{% extends "base/generic.html" %}

{% block content %}
<div class="container">
    <h1>Delete Post</h1>

    <p>Are you sure you want to delete the Post: {{ post.title }}?</p>

    <form action="" method="POST">
      {% csrf_token %}
        <button class="btn btn-danger" type="submit" value="Yes, delete.">Delete</button>
    </form>
</div>
{% endblock %}