{% extends "base/generic.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        {% if post.title %}
            <h1 class="display-4">{{ post.title }}</h1>
        {% else %}
            <h1 class="display-4">New Post</h1>
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-outline-primary">Save</button>
        </form>
    </div>
{% endblock %}